#about-me{
  margin-top: -50vh;
  height:50vh;
  background-color: $primary-5;
  color: #fff;
  font-family: $work-sanse;
  text-align:center;
  .about-me-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .ho-am-i{

      p{
        width: 70%;
      }
    }
  }
}

.about-second{
  font-family: $work-sanse;
  background-color: $gray;
  padding: 4rem 0;
  .about-second__detailed{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .my-text{
      width: 60%;
      text-align: center;
      color: $darken-font;
      h1{
        color: $navigation-boreder-color;
        margin-bottom: 2rem;
      }
      p{
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  #about-me{
    .about-me-content{
      .ho-am-i{
        h1{
          font-size: 1.8rem;
        }
        p{
          width: 100%;
          font-size: 1rem;
        }
      }
    }
  }
  .about-second{
    padding: 2rem 0;
    .about-second__detailed{
      .my-text{
        width: 90%;
        font-size: .9rem;
      }
    }
  }
}

@media only screen and(min-width: 576px) and (max-width: 768px) {
  .about-second{
    padding: 2rem 0;
  
    .about-second__detailed{
      .my-text{
        width: 80%;
        p{
          font-size:14px;
        }
      }
    }
  }
}


@media only screen and(min-width: 768px) and (max-width: 992px) {
  .about-second{
    padding: 3rem 0;
    .about-second__detailed{
      .my-text{
        width: 80%;
        p{
          font-size:14px;
        }
      }
    }
  }
}

@media only screen and(min-width: 992px) and (max-width: 1200px){}
