$header-primaray:rgb(49, 49, 53);
$hover-primary:rgb(77, 77, 77);

//social icons color
$facebook:#3b5998;
$linked:#0077B5;
$instagram:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
$twitter:#00acee;
$googlePlus:#db4a39;

//scrol indicator color
$scroll-indicator:rgb(95, 95, 95);

$work-sanse:'Times New Roman';