$header-primaray:rgb(41, 41, 41);
$hover-primary:rgb(53, 53, 53);
// $navigation-boreder-color:rgba(21, 158, 221, 0.842);
$navigation-boreder-color:rgba(61, 221, 21, 0.616);

$darken-font:#d3d3d3;

$primary-5:rgba(41, 41, 41, 0.561);;
$gray:#565660;

//social icons color
$facebook:#3b5998;
$linked:#0077B5;
$instagram:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
$twitter:#00acee;
$googlePlus:#db4a39;

//scrol indicator color
$scroll-indicator:rgb(95, 95, 95);

$work-sanse:'Work Sans', sans-serif;
$gochi-hand:'Gochi Hand', cursive;