@import 'mixins';
@import 'colorsFonts';
@import 'buttons';
@import 'navigation';
@import 'home';
@import 'about-me';
@import 'skills';
@import 'contact-banner';
@import 'portfolio';
@import 'contact';
@import'footer';
*{
  margin: 0;
  padding: 0;
}
a{
  color: #fff;
}
html{
  scroll-behavior: smooth;
}
button{
  outline: none!important;
}